In [5]:
import pandas as pd
df = pd.read_csv('train.csv')  
print(df.info())
print(df.head())
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84960 entries, 0 to 84959
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            84960 non-null  int64
 1   Year                          84960 non-null  int64
 2   Month                         84960 non-null  int64
 3   Day                           84960 non-null  int64
 4   kingdom                       84960 non-null  object
 5   latitude                      84960 non-null  float64
 6   longitude                     84960 non-null  float64
 7   Avg_Temperature               84960 non-null  float64
 8   Avg_Feels_Like_Temperature    84960 non-null  float64
 9   Temperature_Range             84960 non-null  float64
 10  Feels_Like_Temperature_Range  84960 non-null  float64
 11  Radiation                     84960 non-null  float64
 12  Rain_Amount                   84960 non-null  float64
 13  Rain_Duration                 84960 non-null  int64
 14  Wind_Speed                    84960 non-null  float64
 15  Wind_Direction                84960 non-null  int64
 16  Evapotranspiration            84960 non-null  float64
dtypes: float64(10), int64(6), object(1)
memory usage: 11.0+ MB
None
   ID  Year  Month  Day   kingdom   latitude  longitude  Avg_Temperature  \
0   1     1      4    1   Arcadia  24.280002 -37.229980            25.50
1   2     1      4    1  Atlantis  22.979999 -37.329990           299.65
2   3     1      4    1    Avalon  22.880000 -37.130006            26.30
3   4     1      4    1   Camelot  24.180003 -36.929994            24.00
4   5     1      4    1     Dorne  25.780002 -37.530000            28.00

   Avg_Feels_Like_Temperature  Temperature_Range  \
0                       30.50                8.5
1                      305.15                5.9
2                       31.50                5.2
3                       28.40                8.2
4                       32.80                5.7

   Feels_Like_Temperature_Range  Radiation  Rain_Amount  Rain_Duration  \
0                          10.3      22.52        58.89             16
1                           8.2      22.73        11.83             12
2                           6.4      22.73        11.83             12
3                          10.7      22.67        75.27             16
4                          10.2      22.35         4.81              8

   Wind_Speed  Wind_Direction  Evapotranspiration
0         8.6             283            1.648659
1        15.8             161            1.583094
2        15.8             161            1.593309
3         6.4             346            1.638997
4        16.7             185            1.719189
(84960, 17)

In [5]:
import pandas as pd

df = pd.read_csv("train.csv")

# Display basic info
#print("Dataset Info:")
#print(df.info())

# Check missing values
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
ID                              0
Year                            0
Month                           0
Day                             0
kingdom                         0
latitude                        0
longitude                       0
Avg_Temperature                 0
Avg_Feels_Like_Temperature      0
Temperature_Range               0
Feels_Like_Temperature_Range    0
Radiation                       0
Rain_Amount                     0
Rain_Duration                   0
Wind_Speed                      0
Wind_Direction                  0
Evapotranspiration              0
dtype: int64

In [7]:
print(df.describe())

                 ID          Year         Month           Day      latitude  \
count  84960.000000  84960.000000  84960.000000  84960.000000  84960.000000
mean   42480.500000      4.610876      6.666667     15.735876     24.003334
std    24525.983772      2.239331      3.402793      8.802867      0.798622
min        1.000000      1.000000      1.000000      1.000000     22.880000
25%    21240.750000      3.000000      4.000000      8.000000     23.680003
50%    42480.500000      5.000000      7.000000     16.000000     23.780002
75%    63720.250000      7.000000     10.000000     23.000000     24.280002
max    84960.000000      8.000000     12.000000     31.000000     26.580005

          longitude  Avg_Temperature  Avg_Feels_Like_Temperature  \
count  84960.000000     84960.000000                84960.000000
mean     -37.266665       135.600751                  139.735375
std        0.488873       133.650417                  133.937168
min      -37.729980        18.600000                   18.700000
25%      -37.630006        26.300000                   30.300000
50%      -37.530000        28.100000                   32.500000
75%      -37.130006       299.350000                  303.850000
max      -35.729980       303.650000                  309.650000

       Temperature_Range  Feels_Like_Temperature_Range     Radiation  \
count       84960.000000                  84960.000000  84960.000000
mean            5.345287                      6.361224     20.338598
std             1.977739                      2.371880      4.118938
min             0.500000                      0.800000      3.190000
25%             3.800000                      4.500000     18.070000
50%             5.100000                      6.200000     20.960000
75%             6.500000                      8.000000     23.300000
max            15.400000                     17.300000     30.100000

        Rain_Amount  Rain_Duration    Wind_Speed  Wind_Direction  \
count  84960.000000   84960.000000  84960.000000    84960.000000
mean       7.723850       8.895680     15.629291      215.831297
std       13.477186       7.231531      6.198760       93.917858
min        0.000000       0.000000      2.300000        0.000000
25%        0.520000       2.000000     11.100000      119.000000
50%        3.380000       8.000000     15.100000      255.000000
75%        9.490000      15.000000     19.000000      286.000000
max      440.440000      24.000000     50.200000      359.000000

       Evapotranspiration
count        84960.000000
mean             1.568724
std              0.219856
min              0.425268
25%              1.451614
50%              1.589235
75%              1.715598
max              2.212660

In [9]:
df["Date"] = pd.to_datetime(df[['Year', 'Month', 'Day']].astype(str).agg('-'.join, axis=1))
df = df.sort_values(by="Date")  # Sort by Date

C:\Users\ASUS\AppData\Local\Temp\ipykernel_10128\1797041205.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date"] = pd.to_datetime(df[['Year', 'Month', 'Day']].astype(str).agg('-'.join, axis=1))

In [12]:
df2 = pd.read_csv("test.csv")
print(df2.info())
print(df2.head())
print(df2.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4530 entries, 0 to 4529
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       4530 non-null   int64
 1   Year     4530 non-null   int64
 2   Month    4530 non-null   int64
 3   Day      4530 non-null   int64
 4   kingdom  4530 non-null   object
dtypes: int64(4), object(1)
memory usage: 177.1+ KB
None
      ID  Year  Month  Day   kingdom
0  84961     9      1    1   Arcadia
1  84962     9      1    1  Atlantis
2  84963     9      1    1    Avalon
3  84964     9      1    1   Camelot
4  84965     9      1    1     Dorne
(4530, 5)